h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
h3{

    font-size: 40px;
    text-align: left;
    margin-top: 80px;
    margin-left: 4%;
    animation-duration: 2s;
    animation-name: slidein;
}
h4{
    font-size: 22px;
    animation-duration: 2s;
    animation-name: slidein;
}
p{
    font-size: 18px;
}
a{
    color: #04c4ca;
}
div{
    width: 80%;
    margin: 0 auto;
}
h6{
    font-size: 18px;
}