.frontImageDiv{
    font-family: 'Maven Pro', "fantasy";
    font-weight: 500;
    height: 800px;
    line-height: 55px;
    text-align: center;
}
.frontImage{
    height: 30%;
    position: relative;
    top: 40px;

}

.frontImageDiv h1{
    color: #ffffff;
    font-weight: 500;
    margin-left: 20%;
    padding-top: 80px;
    width: 60%;
}

.row{
    align-items: center;
    display: flex;
    text-align: center;
}

.doubleColumn{
    flex: 50%;
}

.doubleColumn p{
    font-size: 32px;
}
video{
    height: 90%;
}
.doubleColumn button, .frontImageDiv button{
    background-color: #191919;
    border: none;
    border-radius: 30px;
    color: #f0f0f0;

    cursor: pointer;
    font-size: 30px;
    line-height: 27px;
    margin-top: 30px;
    padding: 20px 45px 20px 45px;
    text-align: center;
}

.icon{
    width: 15%;
}

.doubleColumn button:hover , .frontImageDiv button:hover{
    background-color: #101010;
}
#blogComponent{
    font-size: 24px;
}

#blogComponent span{
    font-weight: 700;
    font-size: 63px;
}
.mobileView{
    display: none;
}
/*#topText{*/
/*    position: relative;*/
/*    opacity: 0;*/
/*    top: -150px;*/
/*    transition: opacity 3s*/
/*}*/
#topText{
    animation-duration: 2s;
    animation-name: slidein;
    position: relative;
}
@keyframes slidein {
    from{
        top: -100px;
        opacity: 0;
    }

    25%{
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}

@media screen and (min-width: 230px) and (max-width: 332px){
    .row{
        display: block;
    }
    #blogComponent{
        font-size: 20px;
    }
    #blogComponent span{
        font-size: 55px;
    }
    .frontImageDiv button{
        background-color: #101010;
        font-size: 22px;
    }
    .doubleColumn button{
        padding: 20px 45px 20px 45px;
        margin-bottom: 80px;
        background-color: #101010;
        font-size: 22px;
    }
    .frontImageDiv{
        height: 1000px;
    }
    .frontImage{
        height: 20%;
    }
    .mobileView{
        display: block;
        margin-top: 100px;
    }
    .desktopView{
        display: none;
    }
    #topText{
        font-size: 25px;
        line-height: 46px
    }
}

@media screen and (min-width: 333px)  and (max-width: 690px){
    .row{
        display: block;
    }
    #blogComponent{
        font-size: 20px;
    }
    #blogComponent span{
        font-size: 55px;
    }
    .frontImageDiv button{
        background-color: #101010;
        font-size: 22px;
    }
    /*TODO Bei den meisten texten die schriftgröße für mobile erhöhen*/
    .doubleColumn button{
        padding: 20px 45px 20px 45px;
        margin-bottom: 80px;
        background-color: #101010;
        font-size: 22px;
    }
    .frontImageDiv{
        height: 900px;
    }
    .frontImage{
        height: 20%;
    }
    .mobileView{
        display: block;
        margin-top: 100px;
    }
    .desktopView{
        display: none;
    }
    #topText{
        font-size: 25px;
        line-height: 46px
    }
}