.collapsible {
    background-color: #777;
    color: black;
    cursor: pointer;
    padding: 50px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 5px 0;
}

.active, .collapsible:hover {
    background-color: #555;
}
.collapseList{
    width: 70%;
    margin: 0 auto;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #191919;
}
#compilers{
    background-image: url("../images/learning/compilers.jpg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right -10px;
}
#prof_c{
    background-image: url("../images/learning/compilers.jpg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right -10px;
}
h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
.topText{
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
#menuButton{
    height: 60px;
    width: 60px;
    border-radius: 15px;
    background-color: #bcbcbc;
    border-style: none;
    margin-right: 10px;
    margin-top: 10px;
}
#menuButton:hover{
    background-color: #cccccc;
}