h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
h3{

    font-size: 40px;
    text-align: left;
    margin-top: 80px;
    margin-left: 4%;
    animation-duration: 2s;
    animation-name: slidein;
    position: relative;
}
h2{
    font-size: 30px;
}
a{
    color: #04c4ca;
}
a:hover{
    color: #04a3a9;
}
.row{
    align-items: center;
    display: flex;
    text-align: center;
}

.doubleColumn{
    margin-top: 20px;
    height: 100%;
    flex: 50%;
}
.doubleRow{
    flex: 50%;
    width: 80%;
    margin: 0 auto;
}
.doubleRow img{
    width: 60%;
}
.doubleRow img:hover{
    opacity: 0.8;
}
.doubleRow p{
    font-size: 25px;
    color: #bcbcbc;
}
.soloRow{
    padding-top: 4%;
    padding-bottom: 3%;
    align-items: center;
    text-align: center;
}
.soloRow img{
    width: 25%;
}
.soloRow img:hover{
    opacity: 0.8;
}
.soloRow div{
    margin: 0 auto;
}
.soloRow p{
    font-size: 25px;
}
ul{
    padding-left: 5%;
    padding-right: 5%;
    list-style: none;
    text-align: center;
}
li {
    display: inline;
}
li img{
    width: 24%;
    border: white;
    border-image-width: 1px;
    border-style: solid;
}
li img:hover{
    cursor: pointer;
    opacity: 0.8;
}
.listDiv{
    position: relative;
}

.container {
    position: relative;
    display: none;
    text-align: center;
}
.container img{

    border: #8b8b8b;
    border-image-width: 1px;
    border-style: solid;
    width: 90%
}
#topText{

}
a:visited{
     color: #04c4ca;
 }

@keyframes slidein {
    from{
        top: 80px;
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}
@media screen and (max-width: 750px){
    .doubleRow img{
        width: 80%;
    }
    .soloRow img{
        width: 32%;
    }
}
@media screen and (max-width: 570px){
    .doubleRow img{
        width: 80%;
    }
    .soloRow img{
        width: 70%;
    }
    .row{
        display: block;
    }
    .listDiv{
        display: block;
    }
    li img{
        width: 40%;
    }
}