.base {
  height: 100vh;
  width: 100vw;
  max-width:100%;
  background-color: #282c34;
  border-bottom-color: #181a1f;
}

.App-logo {
    text-align: center;
    margin-top: 5%;
    height: 30vmin;
    pointer-events: none;
    padding-bottom: 10px;
  }
  .Info-Me {
    padding-bottom: 0px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    font-size: xx-large;
    animation: 
      typing 3.0s steps(40, end),
      blink-caret .75s step-end ;
  }
  .Pre-Quote {
    padding-top: 75px;
  }
  .Quote {
    font-size: 18px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    font-style: italic;
    width: 0;
    animation-delay: 5s initial;
    animation: 
      typing 3.5s steps(40, end) 2.5s forwards,
      blink-caret .75s step-end ;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  
  .Quote-Author {
    font-size: smaller;
    font-style: italic;
  }