.line {
    border-top: 3px solid #181a1f;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 3px solid #181a1f;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 75vw;
}