/*-----------------------------------------------------*/
/*                       Tags                          */
/*-----------------------------------------------------*/

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
h3{

    font-size: 40px;
    text-align: left;
    margin-top: 80px;
    margin-left: 4%;
}
h4{
    font-size: 22px;
}

.doubleColumn img{
    border-color: #44c5c6;
    width: 340px;
    border-image-width: 1px;
    border-style: solid;

    animation-duration: 2s;
    animation-name: slidein;
}


.techLogo img{
    height: 250px;
}

.tripleColumn img{
    height: 50px;

    animation-duration: 2s;
    animation-name: slidein;
    position: relative;
}
.tripleColumn p{
    text-align: left;
    font-size: 20px;
    margin-left: 15%;
}

.doubleColumn p{
    font-size: 24px;
    font-weight: 500;
    line-height: 43.2px;
    font-family: 'Maven Pro', "fantasy";
    width: 500px;

    animation-duration: 2s;
    animation-name: slidein;
}
/*-----------------------------------------------------*/
/*                       Classes                       */
/*-----------------------------------------------------*/

.row{
    align-items: center;
    display: flex;
    text-align: center;
    margin: 5% 5%;
}

.doubleColumn{
    margin-top: 20px;
    height: 100%;
    flex: 50%;
}


.tripleColumn{
    padding-top: 50px;
    height: 450px;
    flex: 33%;
}

.tripleColumn .divider{
    background-color: white;
    height: 2px;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    top: -5px;
    border-radius: 2px;
}

div .row .doubleColumn{
    font-size: 20px;
    margin-top: 0;
}

/*-----------------------------------------------------*/
/*                     Animations                      */
/*-----------------------------------------------------*/

@keyframes fadein {
    from{
        opacity: 0;
    }

    25%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slidein {
    from{
        top: -100px;
        opacity: 0;
    }

    25%{
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}