h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
h3{

    font-size: 40px;
    text-align: left;
    margin-top: 80px;
    margin-left: 4%;
    animation-duration: 2s;
    animation-name: slidein;
}
h4{
    font-size: 22px;
    animation-duration: 2s;
    animation-name: slidein;
}
.row{
    align-items: center;
    display: flex;
    text-align: center;
    margin: 5% 5%;

}
.tripleColumn{
    padding-top: 50px;
    height: 500px;
    width: 450px;
    outline: 4px solid #bcbcbc;
    outline-offset: -10px;
    margin: 0 auto;
}
.tripleColumn img{
    height: 80px;
    animation-duration: 2s;
    animation-name: slidein;
    position: relative;
}
.tripleColumn img:hover{
    opacity: 0.8;
}
.tripleColumn p{
    text-align: center;
    font-size: 28px;
}
.tripleColumn .divider{
    background-color: white;
    height: 2px;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    top: -5px;
    border-radius: 2px;
}
.tripleColumn div{
    text-align: center;
    font-size: 24px;
    width: 78%;
    margin: 0 auto;
    line-height: 35px;
}
.divider{
    background-color: white;
    height: 3px;
    width: 10%;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    top: -5px;
    border-radius: 2px;
}
p{
    font-size: 20px;
    text-align: center;
    animation-duration: 2s;
    animation-name: slidein;
}
.invisibleDivider{
    height: 290px;
}
a{
    color: #04c4ca;
}
a:hover{
    color: #04959b;
}
#topText{
    animation-duration: 2s;
    animation-name: slidein;
    position: relative;
}

@keyframes fadein {
    from{
        opacity: 0;
    }

    25%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slidein {
    from{
        top: 100px;
        opacity: 0;
    }

    25%{
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}
@media screen and (max-width: 1000px){
    .row{
        display: block;
    }
    .tripleColumn{
        max-width: 100%;
        height: 450px;
    }
    .invisibleDivider{
        height: 150px;
    }
}