body{
    background: #191919;
    color: #f0f0f0;
    padding: 0;
    margin: 0;
}
header{
    background: #141414;
    height: 80px;
    width: 100%;
    padding: 0px;
}
div{
    background: #191919;
}
.doubleColumn{
    margin: auto;
    flex: 50%;
}
.headerDiv{
    display: inline;
    padding-left: 10%;
}
.columnHeading{

}
.columnNormalText{

}
.row{
    display: flex;
}
nav{
    position: relative;
    height: 100%;
    top: -35px;
}
nav ul{
    margin: 0;
    padding: 0 0 0 0 ;
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding-left: -15px;
    font-size: 20px;
}
.frontImageDiv{
    height: 500px;
    text-align: center;

    line-height: 55px;
}
.frontImage{
    position: relative;
    top: 25px;
    height: 50%;

}
.frontImageDiv div{
    display: inline-block;
    width: 80%
}

header div{
    display: inline-block;
    height: 60px;
    float: bottom;
}
header div img{
    height: 60px;
    position: relative;
    left: 10px;
    top: 10px
}

.logo{
    background-image: url("../images/home/logodesign1weiss-1024x879.png");
    background-repeat: no-repeat;

    text-indent: -999999px;
    position: relative;
    top: 12px;
    left: -30px;
    margin-right: 0px;

    display: inline-block;

    height: 60px;
    background-size: 60px;
    width: 8%;
}