.base {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    background-color: #282c34;
    border-bottom-color: #181a1f;
    
}

.contact-text {
    font-size: larger;
}

.right-container-contact {
    flex: 50%;
}

.left-container-contact {
    flex: 50%;
}

.two-row-wrapper {
    height: 100%;
    display: inline-block;
    text-align: center;
}

.two-row-wrapper a {
    padding-top: 20px;
    display: block;
    color: rgb(60, 177, 255);
}

.two-row-wrapper a:hover {
    opacity: 50%;
}

.two-row-wrapper a:active {
    color: rgb(60, 177, 255);
}

.two-column-container-contact {
    margin: auto;
    display: flex;
    width: 75%;
    height: 50%;
}

.email-logo {
    height: 49%;
}

.linked-logo {
    height: 50%;
}

.github-logo {
    height: 50%;
}

.twitter-logo {
    height: 50%;
}

#show-small{
    display: none;
}

@media only screen and (max-width: 1230px) {
    .two-column-container-contact {
        width: 100%;
        display: block;
    }
    .email-logo {
        width: 10%;
    }
    
    .linked-logo {
        width: 10%;
    }
    
    .github-logo {
        width: 10%;
    }
    
    .twitter-logo {
        width: 20%;
    }
    .github-logo-small {
        width: 10%;
        display: inline;
    }
.twitter-logo-small {
    width: 10%;
    display: inline;
}

    #show-small {
        display: inline;
    }
    .two-row-wrapper {
        padding-top: 25px;
    }
  }